footer{
    text-align: center;
    margin-top: 100px;
    background-color:  rgb(73, 68, 63);
    color:  rgb(194, 190, 190);
    margin-right:-165px;
    margin-left: -165px;
    padding-top:10px;
    padding-bottom:5px;

    
}


.info{
    margin-top: 80px
}

